#noteView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#noteView * {
  font-family: sans-serif;
  box-sizing: border-box;
}

#noteView h2 {
  text-align: center;
}

#noteView .btnDelete {
  color: black;
  display: flex;
}
