* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.accordion {
  min-width: 300px;
  word-wrap: break-word;
}
.list {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  text-align: center;
  align-items: center;
  gap: 25px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  min-width: 1000px;
}

.list-item {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.list-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #505050;
}
