body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.button-container {
    display: flex;
    gap: 40px;
    padding-top: 40px;
}

.button {
    border: 2px solid #333;
    color: #333;
    background-color: transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #333;
    color: white;
}

.button-secondary {
    border: 2px solid #007BFF;
    color: #007BFF;
}

.button-secondary:hover {
    background-color: #007BFF;
    color: white;
}

h1 {
    padding-top: 75px;
}

.top-button-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}